<div>
Share this on &rarr;

<a href="http://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook" style="color:#fff; background:#3b5998; padding: 4px; text-decoration: none;">Facebook</a>

<a href="http://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url | url_encode }}{{ page.url | url_encode}}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color:#fff; background:#00aced; padding: 4px; text-decoration: none;">Twitter</a>

<a href="http://plus.google.com/share?url={{site.url |url_encode}}{{page.url url_encode}}" rel="nofollow" target="_blank" title="Share on Google+" style="color:#fff; background:#dd4b39; padding: 4px; text-decoration: none;">Google+</a>

</div>
